extends layout

block content
  h1 Login
  form(method='POST', action='/users/login')
    #form-group
      label Username:
      input.form-control(name='username',type='text')
    #form-group
      label Password:
      input.form-control(name='password',type='password')
    input.btn.btn-primary(type='submit',value='Submit', style='margin: 5px 0px 0px 0px')      
    a.btn.btn-default(href='/users/register', style='margin: 5px 0px 0px 5px') Create account
